@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@import "base";

header {
  position: relative;
  width: 1110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 145px;

  .right {
    display: flex;
    align-items: center;

    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 45px;
      cursor: pointer;

      a {
        display: grid;
        place-items: center;
      }
    }
  }

  .left {
    width: 100%;
    display: flex;
    justify-content: space-between;

    nav {
      height: 40px;
      display: grid;
      place-items: center;
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          height: 100%;
          display: grid;
          place-items: center;
          list-style: none;

          a {
            text-decoration: none;
            color: #9c9ba1;
            font-size: 15px;
            margin-right: 30px;
            font-weight: 700;

            &:hover {
              color: #18171d;
            }
          }

          &:last-child a {
            margin-right: 0;
          }
        }
      }
    }
  }

  .hamburguerMenu {
    display: none;
  }

  @media (max-width: 500px) {
    width: 327px;
    margin-bottom: 50px;
    position: relative;


    .left {
      position: absolute;
      width: 327px;
      height: 384px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #3a3053;
      border-radius: 10px;
      top: 100px;
      z-index: 1;
      transform: translateY(-150%);
      transition: transform 500ms ease-in-out;

      .info {
        position: relative;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        nav {
          height: 100%;
        }
      }

      .line {
        width: 80%;
        height: 1px;
        background-color: #544a6d;
      }

      nav {
        width: 100%;
        height: 57%;
        padding: 25px 0;

        ul {
          width: 100%;
          display: flex;
          flex-direction: column;

          li {
            a {
              font-size: 18px;
              color: #fff;
              font-weight: bold;
              margin-right: 0;
            }
          }
        }
      }
    }

    .hamburguerMenu {
      width: 40px;
      height: 25px;
      display: flex;
      right: 0;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      &.open + .left {
        display: flex;
        transform: translateY(0);
      }

      span {
        width: 80%;
        height: 4px;
        background: #9b99a4;
      }
    }
  }
}

.btnType,
button {
  font-weight: 700;
  border: 0;
  outline: 0;
  color: #fff;
  background: 0;
  cursor: pointer;

  & a,
  &,
  a {
    text-decoration: none;
    background-color: #2bd1d0;
    padding: 8px 25px;
    border-radius: 20px;

    &:hover,
    &:hover a {
      color: #fff;
      background-color: #97e2de;
    }

    &.copied {
      background-color: #3a3053;
    }
  }
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 145px;

  .content {
    position: relative;
    width: 1110px;
    height: auto;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .text {
      padding-right: 100px;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 80px;
        letter-spacing: -2px;
        line-height: 114.5%;
        color: #34313c;
      }

      p {
        font-size: 23px;
        letter-spacing: -0.26px;
        color: #a09fa4;
        font-weight: 500;
      }

      button {
        margin-top: 35px;
      }
    }

    .bg {
      width: 600px;
      height: 500px;
      background: url(../images/illustration-working.svg);
      position: absolute;
      right: -20%;
    }
  }

  &.grey {
    background: #f0f1f6;
    align-items: start;
    margin-bottom: 0;

    .content {
      position: relative;
      display: block;
      margin-top: 0;

      form {
        position: absolute;
        top: calc(-168px / 2);
        max-width: 1110px;
        width: 100%;
        height: 168px;
        border-radius: 8px;
        background: url(../images/bg-shorten-desktop.svg) no-repeat;
        background-color: #3a3053;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 64px;

        input {
          height: 40px;
          width: 100%;
          border: 0;
          outline: 0;
          border-radius: 8px;
          padding-left: 33px;
          border: 1px solid none;

          &::placeholder {
            opacity: 0.7;
          }

          &.empty {
            position: relative;
            border: 1px solid #e6686b;

            &::placeholder {
              color: #e6b1b7;
            }

            & + span {
              visibility: visible;
            }
          }
        }

        span {
          visibility: hidden;
          font-size: 18px;
          position: absolute;
          bottom: calc(168px / 5.5);
          left: 64px;
          color: #e6686b;
          font-style: italic;
        }

        button {
          width: 188px;
          margin-left: 24px;
          border-radius: 8px;
        }
      }

      .linkArea {
        width: 100%;
        height: auto;
        margin-top: 108px;

        .box {
          width: 100%;
          padding: 16px 24px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: white;
          border-radius: 8px;
          margin-bottom: 16px;
          animation: create 500ms linear both;

          @keyframes create {
            from {
              transform: translateX(-140px);
              opacity: 0;
            }
            to {
              transform: translateX(0);
              opacity: 1;
            }
          }

          .left {
            color: #333237;
          }

          .right {
            display: flex;
            align-items: center;

            p {
              color: #2bd1d1;
            }

            button {
              margin-left: 25px;
              border-radius: 8px;
              transition: all 200ms linear;
            }
          }
        }
      }

      .statistics {
        width: 100%;
        text-align: center;
        padding: 0 285px;

        h1 {
          font-size: 40px;
          color: #36333e;
        }

        p {
          font-size: 18px;
          line-height: 32px;
          color: #a09fa4;
        }
      }

      .cardsArea {
        width: 100%;
        height: 356px;
        margin-top: 116px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card {
          position: relative;
          width: 350px;
          height: 267px;
          background: #fff;
          padding: 0 34px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 8px;

          .icon {
            position: absolute;
            top: -44px;
            left: 34px;
            width: 88px;
            height: 88px;
            border-radius: 50%;
            background: #3a3052;
            display: grid;
            place-items: center;
          }

          .info {
            h3 {
              font-size: 23px;
              color: #141319;
              margin: 45px 0 25px 0;
            }

            p {
              font-size: 15px;
              color: #9e9da2;
            }
          }

          &:first-child {
            align-self: self-start;
          }
          &:last-child {
            align-self: self-end;
          }
        }

        .line {
          width: 30px;
          height: 8px;
          background: #2ed2d4;
        }
      }
    }
  }

  &.last {
    width: 100%;
    height: 250px;
    background: url(../images/bg-boost-desktop.svg) #3a3053 no-repeat;
    background-size: cover;
    margin-bottom: 0;
    flex-direction: column;

    h2 {
      font-size: 38px;
      color: #fff;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 500px) {
    overflow-x: hidden;
    margin-bottom: 0px;

    .content {
      width: 327px;
      height: 730px;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin-bottom: 35px;

      .text {
        grid-row: 2/3;
        width: 100%;
        padding-right: 0;
        align-items: center;
        justify-content: start;
        margin-top: 60px;

        h1 {
          text-align: center;
          font-size: 40px;
        }
        p {
          text-align: center;
        }
      }

      .bg {
        grid-row: 1;
        width: 500px;
        height: 330px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
      }
    }

    &.grey {
      overflow-x: visible;

      .content {

        form {
          height: 182px;
          flex-direction: column;
          background: url(../images/bg-shorten-mobile.svg) right top no-repeat;
          background-color: #3a3053;
          justify-content: space-around;
          padding: 10px 23px;
  
          input {
            width: 100%;
            padding-left: 13px;
          }
  
          span {
            font-size: 13px;
            left: 30px;
            bottom: calc(168px / 2);
          }
  
          button {
            width: 100%;
            margin-left: 0;
          }
        }
  
        .linkArea .box {
          align-items: start;
          flex-direction: column;
          height: 156px;
          
          .left {
            position: relative;
            width: 100%;

            &::after {
              content: '';
              position: absolute;
              width: 327px;
              height: .5px;
              background: #E5E5E5;
              bottom: -10px;
              left: -24px;
            }
          }
  
          .right {
            width: 100%;
            height: 60%;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            button {
              width: 100%;
              margin-left: 0;
            }
          }
        }

        .statistics {
          padding: 0;
        }

        .cardsArea {
          height: auto;
          flex-direction: column;

          .card {
            margin-bottom: 90px;

            .icon {
              left: auto;
            }

            .info {
              text-align: center;
            }

            &:first-child {
              align-self: center;
            }
            &:last-child {
              align-self: center;
            }

            &::after {
              content: '';
              position: absolute;
              width: 10px;
              height: 50px;
              background: #2ed2d4;
              bottom: -50px;
            }

            &:last-child::after {
              display: none;
            }
          }

          .line {
            display: none;
            width: 10px;
            height: 50px;
          }
        }
      }
    }
  }
}
